@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Smythe', serif;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
}

.container {
    width: 26.875rem;
    height: 58.25rem;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}

.header {
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-image: url('./images/burger.jpg');
    color: #fff;
    background-size: cover;
    background-position: left;
    padding: 1rem 2rem;
}

.header-title {
    font-size: 2rem;
    font-weight: 300;
}

.motto {
    font-size: 1rem;
    margin-top: 0.3rem;
}

.food {
    margin-top: 1rem;
    padding: 1rem;
}

.foodItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.food-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.iconText {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.icon {
    font-size: 3.5rem;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.name {
    font-size: 1.3rem;
    font-weight: 400;
}

.ingredients {
    font-size: 0.8rem;
    color: #8b8b8b;
}

.price {
    font-size: 1rem;
    font-weight: 300;
}

.add-btn {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0.8rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    color: #666;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order {
    margin-top: 0.5rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-title {
    font-size: 1.5rem;
    font-weight: 300;
}

.order-items {
    width: 100%;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.order-name-btn {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.order-name {
    font-size: 1.2rem;
    font-weight: 300;
}

.remove-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #999;
    font-size: 0.6rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
    padding-top: 0.2rem;
}

hr {
    border: 0.5px solid #666;
    width: 92%;
}

.total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    font-size: 1.2rem;
}

.checkout-btn {
    width: 92%;
    padding: 0.8rem;
    border: none;
    background-color: #16db99;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 900;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 80%;
    height: 30rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
}

.form {
    width: 80%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-title {
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-container {
    width: 100%;
    padding-top: 1rem;
}

.input-pay {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

.input-pay::placeholder {
    color: #999;
    font-size: 0.8rem;
}

.pay-btn {
    padding: 0.8rem;
    border: none;
    background-color: #16db99;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 900;
    cursor: pointer;
    width: 70%;
    border-radius: 5px;
    margin-top: 1rem;
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.active {
    display: flex;
}

.greetings {
    list-style: none;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    text-align: center;
    color: blue;
    background-color: #bdffde;
    padding: 1rem;
}