* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #1c1c1c;
    font-family: 'inter', sans-serif;
}

.container {
    background-color: #777777;
    width: 35rem;
    height: 46rem;
    margin: 2rem auto;
}

.userInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    background: #6943ff;
    height: 18rem;
    width: 100%;
    padding: 1rem;
    color: #ffffff;
}

.version {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
}

.dark-light {
    border: none;
}

.version i {
    font-size: 1.5rem;
    color: #eeeeee;
    cursor: pointer;
    background-color: #6943ff;
}

.version i:hover {
    color: #777777;
}

h1 {
    font-size: 1.8rem;
    font-weight: 900;
}

.userInputValue {
    width: 7.5rem;
    height: 5.2rem;
    background-color: inherit;
    border: 2px solid #b295ff;
    border-radius: 0.5rem;
    cursor: pointer;
}

.userInputValue::placeholder,
.userInputValue {
    font-size: 4rem;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
}

.convert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #ffffff;
    height: 2.6rem;
    width: 7.5rem;
    padding: 1rem;
    color: #1c1c1c;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    transition: background 1s ease;
    margin-top: 0.5rem;
}

.convert:hover {
    opacity: 0.8;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: #f4f4f4;
    height: 18rem;
    width: 100%;
    padding: 1rem;
    color: #5a537b;
    font-weight: 600;
    font-size: 1rem;
    height: 28rem;
}

.measure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #ffffff;
    height: 7rem;
    width: 100%;
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
}

.measure p {
    color: #353535;
    font-weight: 300;
    font-size: 1rem;
}

.dark {
    background-color: #1f2937;

}

.dark .measure {
    background-color: #273549;
    color: #ccc1ff;
}

.dark .measure p {
    color: #ffffff;
}