.sub-header {
    background-color: #333;
    background-image: url(../images/mohammad-rahmani-yRsBZJuhbkk-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1em;
    color: #f5f5f5;
}