body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #2b283a;
    margin: 0;
}

/* Typography */

h1,
h3 {
    margin: 0;
}

h1 {
    font-size: 36px;
    color: whitesmoke;
}

h2 {
    margin-top: 0;
}

h3 {
    font-size: 20px;
    color: #d0aaff;
}

p {
    line-height: 23px;
}

/* Links */

a {
    color: #ef5839;
    text-decoration: underline dotted;
}

a:hover,
a:active {
    color: #d4b44c;
}

.btn {
    display: inline-block;
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
}

.btn:hover,
.btn:active {
    background: #f3e885;
    color: #2b283a;
}

.buy-btn {
    background: #5f29a3;
    color: whitesmoke;
}

.info-btn {
    background: #f0e0ff;
    color: #5f29a3;
}

.about-btn {
    background: whitesmoke;
    color: #5f29a3;
}

/* Layout */

header,
section,
footer {
    padding: 45px 0;
}

header,
section:nth-child(even) {
    background: #5f29a3;
}

section:nth-child(even) {
    color: whitesmoke;
}

.container {
    width: 620px;
    margin: 0 auto;
}

.main-image {
    width: 100%;
}

.side-images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.side-image {
    width: 300px;
    border-radius: 4.6px;
}

footer {
    color: #5f29a3;
    text-align: center;
}